annotated_test_imgs/
training_run_tiling_021725/
models
csv_output
*.jpg
hard_negs*
slicing*
yolo/archive
yolo/bee_cam_sahi_test
yolo/csv
yolo/datasets
yolo/error_logs
yolo/logs
yolo/output
yolo/results
yolo/runs
yolo/wandb
yolo/*.pt
ham*/
runs/
*.csv
test_output
*.txt